{% extends "blogapp/book_base.html" %}

{% block title %}
    Books
{% endblock %}

{% block content %}
    <h1>Books</h1>
    <h2><a href={% url "blogapp:book_create" %}>Create new Book</a></h2>
    <ul>
    {% for book in book_list %}
        <li><a href={% url "blogapp:book_detail" book.pk %}>{{ book }}</a> | <a href={% url "blogapp:book_update" book.pk %}>Update</a> | <form style="display:inline;" action={% url "blogapp:book_delete" book.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ book }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No Books yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

