{% extends "blogapp/group_base.html" %}

{% block title %}
    Update {{ group }}
{% endblock %}

{% block content %}
<h1><a href={% url "blogapp:group_list" %}>Group</a></h1>
<h2>Update {{ group }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "blogapp:group_detail" group.pk %}>Cancel</a>
<form style="display:inline;" action={% url "blogapp:group_delete" group.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ group }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}
