[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	url = https://github.com/mirumee/saleor-platform.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
[submodule "saleor"]
	url = https://github.com/mirumee/saleor.git
[submodule "saleor-dashboard"]
	url = https://github.com/mirumee/saleor-dashboard.git
[submodule "saleor-storefront"]
	url = https://github.com/mirumee/saleor-storefront.git
